In [37]:
import pandas as pd

bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep= ';')
bookings_head = bookings.head(7)

In [38]:
bookings.shape

(119390, 21)

In [39]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [40]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [41]:
bookings.shape

(119390, 21)

In [47]:
col_lower = bookings.columns.str.replace(' ', '_').str.lower()

In [48]:
col_lower

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [52]:
bookings.columns

Index(['hotel', 'is canceled', 'lead time', 'arrival full date',
       'arrival date year', 'arrival date month', 'arrival date week number',
       'arrival date day of month', 'stays in weekend nights',
       'stays in week nights', 'stays total nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved room type', 'assigned room type',
       'customer type', 'reservation status', 'reservation status_date'],
      dtype='object')

In [57]:
def replace_space(name):
    new_name = name.replace(' ', '_').lower()
    return new_name

In [58]:
bookings=bookings.rename(columns=replace_space) 
bookings.head(4)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02

In [66]:
bookings.query("is_canceled == 0").country.value_counts()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
BHR        1
DJI        1
MLI        1
NPL        1
FRO        1
Name: country, Length: 165, dtype: int64

In [61]:
bookings_group = bookings.groupby('country', as_index= False).agg({'is_canceled': "sum"})

In [65]:
bookings_group.sort_values(by=['is_canceled'], ascending=False)

    country  is_canceled
135     PRT        27519
59      GBR         2453
51      ESP         2177
56      FRA         1934
81      ITA         1333
..      ...          ...
44      DJI            0
143     SDN            0
40      CYM            0
39      CUB            0
0       ABW            0

[177 rows x 2 columns]

In [67]:
bookings.stays_total_nights

0         0
1         0
2         1
3         1
4         2
         ..
119385    7
119386    7
119387    7
119388    7
119389    9
Name: stays_total_nights, Length: 119390, dtype: int64

In [71]:
group_2 = bookings.groupby('hotel', as_index= False).agg({'stays_total_nights': "mean"}).round(2)

In [72]:
group_2

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [74]:
room_type = bookings.query("reserved_room_type != assigned_room_type")
room_type.shape

(14917, 21)

In [88]:
groub_arrival = bookings.groupby('arrival_date_year', as_index = False).agg({'arrival_date_month':"count" })
groub_arrival.sort_values(by=["arrival_date_month"], ascending=False)

   arrival_date_year  arrival_date_month
1               2016               56707
2               2017               40687
0               2015               21996

In [95]:
for x in [2016, 2017, 2015]: 
    print(bookings.query('arrival_date_year == {}'.format(x)).arrival_date_month.value_counts())

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64
May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64
September    5114
October      4957
August       3889
December     2920
July         2776
November     2340
Name: arrival_date_month, dtype: int64

In [101]:
bookings.query("is_canceled ==1").groupby('arrival_date_year')['arrival_date_month'].value_counts()

arrival_date_year  arrival_date_month
2015               September             2094
                   October               1732
                   August                1598
                   July                  1259
                   December               973
                   November               486
2016               October               2514
                   June                  2096
                   April                 2061
                   September             2022
                   May                   1915
                   August                1825
                   November              1636
                   July                  1499
                   March                 1477
                   December              1398
                   February              1337
                   January                557
2017               May                   2762
                   April                 2463
                   June                  2439
                   July                  1984
                   August                1816
                   March                 1672
                   February              1359
                   January               1250
Name: arrival_date_month, dtype: int64

In [103]:
bookings.adults.mean()

1.8564033838679956

In [104]:
bookings.children.mean()

0.10388990333874994

In [105]:
bookings.babies.mean()

0.007948739425412514

In [107]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64